<div *ngIf="!map">
  <div *ngIf="information.estado !== 'inexistente'" class="asiento" (click)="openModal(template)"
  [ngClass]="{'asiento': true, 'ocupado': information.estado === 'ocupado'}"
  [style.backgroundColor]="information.estado === 'ocupado' ? '#ccc' : information.hexaColor">
  <p>{{information.label}}</p>
</div>


<div *ngIf="information.estado === 'inexistente'" class="inexistente">
</div>


<ng-template #template>
  <button class="btn btn-danger button" (click)="liberar()">Liberar asiento</button>
</ng-template>
</div>
<div *ngIf="map">
  <div *ngIf="information.estado !== 'inexistente'" class="asiento"
  [ngClass]="{'asiento': true, 'ocupado': information.estado === 'ocupado'}"
  [style.backgroundColor]="information.estado === 'ocupado' ? '#ccc' : information.hexaColor">
  <p>{{cont1}}</p>
</div>


<div *ngIf="information.estado === 'inexistente'" class="inexistente">
</div>
</div>
