<table class="table">
  <thead>
    <tr>
      <th>Nombre del evento</th>
      <th>Filas</th>
      <th>Columnas</th>
      
    </tr>
  </thead>
  <tbody>
    <tr mat-icon-button [matMenuTriggerFor]="menu" class="evento" *ngFor="let evento of eventos; let i = index">
      
        
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="abrirEvento(evento.id)">
          <mat-icon>event_seat</mat-icon>
          <span>Mapa</span>
        </button>
        <button mat-menu-item (click)="editarEvento(evento.id)">
          <mat-icon>edit</mat-icon>
          <span>Editar</span>
        </button>
        <button  mat-menu-item (click)="anadirVendedor(template,evento.id)">
          <mat-icon>person_add</mat-icon>
          <span>Agregar vendedor</span>
        </button>
      </mat-menu>
    
      <td>{{ evento.nombre }}</td>
      <td>{{ evento.filas }}</td>
      <td>{{ evento.columnas }}</td>
    </tr>
    
  </tbody>
</table>
<ng-template #template>
  <div class="contentModal">
    <h1>Información del vendedor</h1>
    <form [formGroup]="formulario">
      <mat-form-field>
        <mat-label>Nombre del vendedor</mat-label>
        <input matInput placeholder="" formControlName="nombre">
        <mat-error *ngIf="formulario.controls.nombre.hasError('required')">Nombre del cliente es requerido</mat-error>
      </mat-form-field><br>
      
      <div class="mx-auto" style="width:200px;">
        <button mat-raised-button class="btn btn-success" (click)="GuardarVendedor()">Guardar</button>
        
      </div>

    </form>

  </div>

</ng-template>
